<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 这是全局开关,会改变MyBatis的运行时行为 -->
	<settings>
		<!-- 使用日志供应商 -->
		<setting name="logImpl" value="log4j" />
		<!-- 懒加载开关,当局部mapper文件不设置lazy属性时,默认使用全局配置.否则用局部覆盖全局,使用局部的 -->
		<!-- <setting name="lazyLoadingEnabled" value="true" /> -->
		<!-- 当使用其中一个关联对象时,其他关联对象要不要关联出来.true将所有关联出来.否则,按需求加载.默认按需加载 -->
		<!-- <setting name="aggressiveLazyLoading" value="true" /> -->

	</settings>
	<!-- 给类起一个别名 -->
	<typeAliases>
		<!-- 给指定的每一个类起别名 -->
		<!-- <typeAlias type="model.User" alias="User" /> -->
		<!-- name指定对应包名,默认该包中的类名作为别名 -->
		<package name="model" />
	</typeAliases>


</configuration>